/* Footer */
  .footer {
    position: relative;
    background-color: #232427;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: -220px;
    border-radius: 50px 50px 0 0;
    border: 15px solid #111113;
    border-top: none;
    border-bottom: 20px solid #111113;
  }

  .footer .grid-4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .grid-4-col {
    padding: 0 1.7rem;
    text-align: center;
  }
  
  .footer .title-sm {
    color: #fafafa;
    margin-bottom: 0.9rem;
  }
  
  .footer .text {
    color: #aaa;
  }
  
  .footer-links a {
    color: #888;
    font-size: 1.25rem;
    display: inline-block;
    margin-bottom: 0.4rem;
    transition: 0.3s;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #5bd55c;
  }

  .footer-links ul {
    list-style-type: none;
  }
  
  .footer-input-wrap {
    display: grid;
    grid-template-columns: auto 50px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 1.2rem;
  }
  
  .footer-input {
    background: #111113;
    color: #333;
    outline: none;
    border: none;
    padding: 0 1.5rem;
    font-size: 1.1rem;
    transition: 0.3s;
    border-radius: 20px;
    z-index: 10;
    font-family: 'Poiret One', cursive;
    font-weight: 1000;
  }
  
  .input-arrow {
    color: #232427;
    background-color: #5bd55c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.45rem;
    transition: 0.3s;
    width: 80px;
    margin-left: -15px;
    z-index: 0;
    cursor: pointer;
  }
  
  .input-arrow:hover {
    background-color: #5bd55c;
    color: var(--light-thoro);
  }
  
  .followme-wrap {
    display: flex;
  }
  
  .followme {
    display: flex;
    align-items: center;
  }
  
  .followme h3 {
    color: #7b7b7b;
    font-weight: 500;
    font-size: 1.3rem;
  }
  
  .followme .footer-line {
    width: 60px;
    height: 2px;
    background-color: #7b7b7b;
    margin: 0 1.2rem;
    display: inline-block;
  }
  
  .social-media a {
    color: #7b7b7b;
    font-size: 2rem;
    margin-right: 0.4rem;
    transition: 0.3s;
  }
  
  .social-media a:hover {
    color: #5bd55c;
  }
  /* End Footer */