  /* Start secciones */
  #memoriasRAM {
    display: none;
  }

  #memoriaSSD {
    display: none;
  }

  #TarjetaGrafica {
    display: none;
  }
  
  #TarjetaMadre{
    display: none;
  }

  #FuentePoder {
    display: none;
  }

  #TecladoMouse {
    display: none;
  }

  #Monitores {
    display: none;
  }

  #Cooling {
    display: none;
  }

  #Cases {
    display: none;
  }

  #Headset {
    display: none;
  }

  #WebCam {
    display: none;
  }

  #Microphono {
    display: none;
  }

  #Combo {
    display: none;
  }

  #Redes {
    display: none;
  }

  #Parlantes {
    display: none;
  }

  .backRam {
    border: none;
    background-color: #5bd55c;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
  }

  .backSsd {
    border: none;
    background-color: #5bd55c;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
  }

  .backGraf {
    border: none;
    background-color: #5bd55c;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
  }

  .backMother {
    border: none;
    background-color: #5bd55c;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
  }

  .backPoder {
    border: none;
    background-color: #5bd55c;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
  }

  .backTeclaMouse {
    border: none;
    background-color: #5bd55c;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
  }

  .backMoni {
    border: none;
    background-color: #5bd55c;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
  }

  .backCooling {
    border: none;
    background-color: #5bd55c;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
  }

  .backCase {
    border: none;
    background-color: #5bd55c;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
  }

  .backHead {
    border: none;
    background-color: #5bd55c;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
  }

  .backWebcam {
    border: none;
    background-color: #5bd55c;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
  }

  .backMicro {
    border: none;
    background-color: #5bd55c;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
  }

  .backCombo {
    border: none;
    background-color: #5bd55c;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
  }

  .backRed {
    border: none;
    background-color: #5bd55c;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
  }

  .backParlante {
    border: none;
    background-color: #5bd55c;
    width: 100px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
  }
  /* End secciones */
